body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color:hsl(218, 23%, 16%) ;
}
#container{
    
    background-color:hsl(217, 19%, 24%) ;
    height: 370px;
    width: 600px;
    text-align: center;
    border-radius: 12px;
}

#num{
    color: white;
    font-family: 'Manrope', sans-serif;
    position: relative;
    top: -80px;
    color: hsl(150, 100%, 66%);
    font-weight: 800;
}

#advice{
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    box-sizing: border-box;
    font-size: 35px;
    height: 20px;
    width: 450px;
    position: relative;
    left: 75px;
    top: -80px;
}
#decor{
    color: white;
    position: relative;
    top: 70px;
}

#container_2{
    position: relative;
    top: 100px;
}

#button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    position: relative;
    top: 70px;
    border: none;
}

#button:active {
    background-color: hsl(150, 87%, 79%);
    box-shadow: 0 0 30px rgba(150, 255, 220, 0.3);
}