Body{
    background-image: url(https://www.desktopbackground.org/download/o/2014/11/05/851232_naruto-wallpapers-desktop-hd-wallpapers-high-resolution-1080p-anime_1920x1080_h.jpg);
}

p{
    font-size: 28;
    color: cyan;
}

h1{
    font-size: 40;
    color: chocolate;
}

h2{
    font-size: 37;
    color: chocolate;
}

h3{
    font-size: 34;
    color: chocolate;
}

h4{
    font-size: 31;
    color: chocolate;
}