body {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    animation-duration: 8s;
    animation-name: GOABEST ;
    background-color: red;
}

@keyframes GOABEST {
    0% {transform: rotate(0deg);}
    10% {transform: scaleX(1.5);}
    20% {transform: translate(20px, 10px);}
    30% {background-color: blue;}
    40% {background-color: green;}
    50% {transform: scale(0.5);}
    60% {height: 100px;}
    70% {transform: rotate(180deg);}
    80% {background-color: chartreuse;}
    100% {transform: rotate(10deg);}
}