#one{
    height: 100px;
    width: 100px;
    background-color: aqua;
    }
#two{
    height: 100px;
    width: 100px;
    background-color: aqua;
    clip-path: circle(50% at 50% 50%);
}
#three{
    height: 100px;
    width: 100px;
    background-color: aqua;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100% );
}
#four{
    height: 100px;
    width: 100px;
    background-color: aqua;
    clip-path: polygon(50% 0,0 100%, 100% 100%);
}
#five{
    height: 100px;
    width: 100px;
    background-color: aqua;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
#six{
    height: 100px;
    width: 100px;
    background-color: aqua;
    clip-path: ellipse(50% 30% at 50% 50%);

}
#seven{
    height: 100px;
    width: 100px;
    background-color: aqua;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
#eight{
    height: 100px;
    width: 100px;
    background-color: aqua;
    clip-path: path("M 50 10 C 20 -20, -20 30, 50 90 C 120 30, 80 -20, 50 10 Z");
}
#nine{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

#box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}